@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #334155;
  }

  body {
    @apply antialiased;
    background-color: #0F172A;
    color: #F8FAFC;
  }
}
